server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/banking_auth_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # or validate/create-drop depending on your needs
    show-sql: true
    properties:
      hibernate:
        id:
          new_generator_mappings: false   # prevents Hibernate from expecting SEQUENCES

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/